* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 840px;
    height: 840px;
    margin: 2px;
}
td {
    
    width: 35px;
    height: 35px;
    border: 2px solid black;
}
 

